body {
  background-color: thistle;
}

/*Selector tag*/
h1 {
  color: darkblue;
  text-align: center;
}

/*Selector Clase*/

.parrafo-color {
  color: red;
  font-size: 20px;
}

/* Selector ID*/

#primer-titulo {
  text-align: center;
}

h1 {
  color: royalblue;
  text-align: center;
}

/*Selector Clase*/

.parrafo-color {
  color: red;
  font-size: 20px;
}

/* Selector ID*/

#primer-titulo {
  text-align: center;
}
